body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(
        to left,
        #E3FFFE 0%,
        #FFFFFF 40%,
        #FFFFFF 60%,
        #E3FFFE 100%
    );
    align-items: center;
    justify-content: center;
}

html, body {
    height: 100%;
    margin: 0;
}

.header {
    background-color: #016401;
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}


.logo {
    position: absolute;
    height: 90%;
    left: 0.25%;
    z-index: 2;
}

.header h1 {
    margin: 0;
    font-size: 48px;
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.acces-text {
    font-size: 38px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 20px 0;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
    display: inline-block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    font-size: 22px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

.saisie-text {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 20px 0;
}

.erreur {
    font-size: 24px;
    font-style: italic;
    color: black;
    text-align: center;
    margin: 20px 0;
}

.btn-connexion {
    background-color: #CCF5F3;
    color: black;
    padding: 10px 50px;
    border: 2px solid #00BBB0;
    border-radius: 25px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    transition: all 0.3s ease; /* Animation fluide */
}

.btn-connexion:hover {
    background-color: #00BBB0;
    color: black;
    border-color: #00BBB0;
}

button.btn {
    margin-top: 20px;
    background-color: #00BBB0;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease; /* Animation fluide */
}

button.btn:hover {
    background-color: #009D92;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form div {
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    text-align: left;
}

.rouge {
    width: 100%;
    max-width: 500px;
    font-size: 22px;
    background-color: #f0f0f0;
    border: solid 2px red;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

.normal {
    width: 100%;
    max-width: 500px;
    font-size: 22px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

.require {
    color : red; 
}

#togglePwd {
    margin-left : 25px;
    border: solid 2px black;
    padding: 2px;
    border-radius: 4px;
}

.checkbox {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.btn-deconnexion {
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    transition: all 0.3s ease; /* Animation fluide */
}

.btn-deconnexion:hover {
    background-color: #222222;
}

.btn-action {
    background-color: #CCF5F3;
    color: black;
    padding: 10px 0;
    border: 2px solid #00BBB0;
    border-radius: 25px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; /* Animation fluide */
    width: 300px;
    height: 500px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
}

.btn-action:hover {
    background-color: #00BBB0;
    color: black;
    border-color: #00BBB0;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.btn-action .fas {
    font-size: 75px;
}

.info-text {
    font-size: 48px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 50px;
}