.filtre {
    margin-top: 4%;
    padding: 1%;
    background-color: #F2F2F2;
    border: 2px solid #016401;
    border-radius: 20px;
}

/* Style pour les grands écrans (plus de 992px) */
@media screen and (min-width: 992px) {
    .sous-container-filtre {
        display: flex;
        width: 100%;
        /*background-color: #0a53be;*/
        gap: 5%; /* Définit l'espacement entre les éléments flex */
        align-items: center;
        justify-content: center;
    }

    .saisi-filtre {
        flex-grow: 1; /* Permet à l'élément de s'étendre */
        width: 100%; /* S'assure que l'élément occupe toute la largeur restante de son parent */
        background-color: #D9D9D9;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .sous-container-filtre label {
        white-space: nowrap;
    }

    .btn-rechercher-filtre {
        width: 50%;
        background-color: #D9D9D9;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /***********************************************************************/
    .hauteur-recherche {
        height: 52vh;
    }

    .sous-container-nb-items {
        display: flex;
        /*justify-content: space-between;*/
        align-items: center;
        gap: 5%;
        white-space: nowrap;
    }

    .sous-container-informations {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /*height: 8%;*/
        background-color: #F2F2F2;
        border-radius: 25px;
        padding-top: 0.75%;
        padding-bottom: 0.75%;
        /*box-sizing: border-box;*/
    }

    .texte-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-details-modifier, .btn-supprimer {
        display: flex;
        align-items: center;
        width: min-content;
        height: 100%;
        white-space: nowrap;
        gap: 15px;
        border-radius: 15px;
        padding: 0.1% 1% 0.1% 0.5%;
    }


    .btn-details-modifier {
        background-color: #CCF5F3;
        border: 2px solid #00BBB0;
    }

    .btn-supprimer {
        background-color: #F1D5D5;
        border: 2px solid #E93C3C;
    }

    .taille-icon-infos {
        font-size: 125%;
    }

    .navigation {
        display: flex;
        justify-content: center; /* Centre les boutons horizontalement */
        align-items: center; /* Centrage vertical */
        gap: 10px; /* Espacement entre les éléments */
        flex: 1; /* Prend tout l'espace pour centrer */
    }

    .page-info {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .btn-navigation-page {
        background-color: #D9D9D9;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }

    .container-btn-add {
        display: flex;
        justify-content: flex-end;
    }

    .btn-add {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #ccf5f3;
        border: 2px solid #00bbb0;
        border-radius: 20px;
        padding: 5px 15px;
        cursor: pointer;
        font-weight: bold;
        color: black;
        white-space: nowrap;
        width: fit-content;
    }




    /*.container-nav-page {*/
    /*    display: grid;*/
    /*    justify-content: center;*/
    /*}*/

    /*.btn-precedent {*/

    /*}*/

    /*.page-actuelle {*/

    /*}*/
}

/* Style pour les petits écrans (moins de 992px) */
@media screen and (max-width: 992px) {
    .sous-container-filtre {
        display: inline-grid;
        width: 100%;
        padding: 10px;
    }

    .saisi-filtre {
        /*flex-grow: 1; !* Permet à l'élément de s'étendre *!*/
        width: 70%; /* S'assure que l'élément occupe toute la largeur restante de son parent */
        background-color: #D9D9D9;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        /*margin-bottom: 10px; !* Ajout d'espace entre les champs *!*/
    }

    .btn-rechercher-filtre {
        width: 50%;
        background-color: #D9D9D9;
        border: 1px solid #ccc;
        border-radius: 5px;
        /*width: 100%;*/
        margin-top: 10px; /* Ajout d'espace entre les champs et le bouton */
    }
}

body {
    background: linear-gradient(
        to left,
        #E3FFFE 0%,
        #FFFFFF 20%,
        #FFFFFF 80%,
        #E3FFFE 100%
    );
    margin: 0;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 10px 0;
}
